@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
  }

  .dark .text-shadow-light {
    text-shadow: 2px 2px 0px #000;
  }
}

/* Retro pixel cursors */
* {
  cursor: url('/cursor-pointer.png'), auto;
}

button,
a,
.cursor-pointer {
  cursor: url('/cursor-hand.png'), pointer;
}